@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato');

body {
  font-family: 'Lato', sans-serif;
  background-color: white;
  font-weight: 800;
}

span, .primary-color {
  background-image: linear-gradient(to left, rgb(255, 7, 7), rgb(255, 179, 179));
  -webkit-background-clip: text;
  color: transparent;
}

.bg-primary-color {
  background-image: linear-gradient(to left, rgb(138, 7, 7), rgb(138, 105, 105));
}